/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 4px;
}
